body {
    margin: 0;
    .ant-layout {
      background-color: #f0f2f5;
      min-height: 100vh;
      width: 100%;
      flex-shrink: 0;
      .ant-layout-header {
        background: transparent!important;
        border-bottom: 1px solid rgba(5, 5, 5, 0.06);
        @media (max-width: 992px) {
          .ant-breadcrumb {
            display: none;
          }
          .cms-options {
            display: none;
          }
        }
        & + .ant-layout-content {
          background-color: #f0f2f5;
          // padding: 16px 16px 0;
        }
      }
      .ant-layout-sider {
        background-color: #f0f2f5;
        border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
        position: fixed;
        min-height: 100%;
        z-index: 1;
        .ant-layout-sider-zero-width-trigger {
          top: 10px;
          transform: translateY(0);
          background-color: #f0f2f5;
          border: 1px solid rgba(5, 5, 5, 0.06);
          border-inline-start: 0;
        }
        .ant-menu {
          background-color: transparent;
          border-inline-end: none;
          .ant-menu-item {
            &.ant-menu-item-selected {
                // background-color: rgba(184, 230, 255, 0.4);
                background-color: rgba(25, 25, 112, 0.1);
                a {
                    color: #191970;
                }
            }
            &:not(.ant-menu-item-selected) {
                &:hover {
                    background-color: rgba(25, 25, 112, 0.05);
                }
                &:active {
                    background-color: rgba(25, 25, 112, 0.01);
                }
            }
          }
        }
        .logo {
          padding: 8px 16px; 
          text-align: center;
          display: flex; 
          align-items: center; 
          gap: 16px; 
          flex-wrap: nowrap;
          .ant-typography {
              overflow: hidden;
              white-space: nowrap;
              text-align: left;
              line-height: 1.3em;
          }
          img {
              max-width: 60px;
              width: 100%;
          }
        }
        & + .ant-layout {
          margin-left: 0;
          @media (min-width: 992px) {
              margin-left: 200px;
          }
        }
      }
      .ant-layout-footer {
        background-color: #f0f2f5;
      }
    }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.25s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.5rem);
  transform: translateY(25px);
}